# Obtaining Data

In order to perform our analysis, we need access to a large amount of data. In this notebook, we use the OpenDota API to quickly assemble a sample of data without having to gather individual matches. This data gives us the necessary information to build a working model, while also providing us with easy tools for expanding our dataset in the future.

In [1]:
import pandas as pd
from project_funcs import get_match_data #importing custom function for gathering match data in batches

In [2]:
api_key = #API Key removed for privacy purposes
df = get_match_data(10000, api_key)
df.shape

(1928, 14)

In [6]:
df.to_csv('match_data.csv', index = False) #Writing data to a file for use in out main notebook

In [5]:
df2 = pd.read_csv('match_data.csv') #loading the dataset to ensure that it saved properly
df2.head()

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5774382508,4861536209,True,1609928270,567,4902.0,6.0,7,3,79,8,236,"81,62,41,39,31","95,8,1,129,109"
1,5774380902,4861534174,True,1609928176,448,NaN,NaN,0,22,25,3,184,"18,2,21,37,84","62,13,35,41,4"
2,5774380304,4861533616,True,1609928140,474,3978.0,1.0,0,22,54,3,187,"30,123,65,70,50","42,19,59,90,86"
3,5774378001,4861541478,False,1609928009,1192,NaN,NaN,0,22,27,3,134,"93,74,120,42,52","121,99,77,21,101"
4,5774376916,4861542219,False,1609927939,1312,2531.0,2.0,0,4,42,5,137,"44,30,17,8,110","35,75,32,59,27"

# A Note on Sampling Methods

This method is great for gathering samples quickly, but loses efficiency very quickly. It pulls batches of 100 random matches from the last 3 days, and consecutive batches are increasingly prone to duplicate matches. There is an option to limit subsequent batches by a maximum match ID number, but in using this limiting factor we quickly encountered a situation where the same 100 batches were pulled each time. The OpenDota API offers several other options for gathering match data, all of which are more targeted and significantly more time intensive. We will explore these in our "Future Work" section of the index notebook in this repository.